* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  background-color: rgb(17, 21, 27);
  font-family:'Franklin Gothic Medium', Arial, sans-serif;
}

.fullcontainer {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.navbar,
.container {
  border-radius: 4px;
}

.navbar {
  padding: 1em;
  background-color: rgb(36, 48, 65);
  display: flex;
  justify-content: left;
  flex-direction: column;
  width: 20%;
  height: 80vh;
  min-height: 80vh;
  margin: 20px;
}

.btn,
input,
.toggle-grid,
.save-image {
  height: 35px;
  padding: 0 1em;
  margin: 10px;
}

button {
  outline: none;
  border: 1px solid;
  border-color:rgb(9, 132, 255);
  border-radius: 5px;
  background-color:  rgb(36, 48, 65);
  color: rgb(205, 215, 247);
  font-family: 'Franklin Gothic Medium', Arial, sans-serif;
  cursor:pointer;
}

.label {
  display: flex;
  align-items: center;
  color: rgb(205, 215, 247);
  justify-content: start;
}

.color {
  height: 36px;
    overflow: hidden;
    border-radius: 2px;
    border: 1px solid rgb(100, 177, 255);
    width: 35%;
    margin-bottom: 10px;
}

.container {
  --size: 4;
  height: 80vh;
  flex-shrink: 0;
  width: 80vh;

  display: grid;
  grid-template-columns: repeat(var(--size), 1fr);
  grid-template-rows: repeat(var(--size), 1fr);

  background-color:   rgb(36, 48, 65);
  padding: 1em;
}

.pixel {
  background-color: white;
  image-rendering: pixelated;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}

.border-toggle {
  border: 1px solid;
  border-color: gray;
}

.toggle-buttons {
  height: 50px;
  width: 50px;
  margin: 10px;
}

.button-activated {
  height: 50px;
  width: 50px;
  margin: 10px;
  background-color:rgb(9, 132, 255) ;
  color:rgb(36, 48, 65);
}
